<div id="res" class="">
  <% if !@empty %>
    <% if @res.present? %>
      <% @res.each do |s| %>
        <button class="btn rounded btn-outline-success" hx-post="/clipboard" hx-vals='{"val": "<%= s%>"}' hx-target="#words"><%= s%></button> 
      <% end %>
    <% else %>
      <span class="text-danger">Sorry no matching words</span>
    <% end %>
  <% else %>
    <span class="text-danger">Its empty, type something..</span>
  <% end%>
</div>

